/* * {
  margin: 0;
  padding: 0;
} */

footer {
  background-color: blue;
  bottom: 0;
  left: 0;
  line-height: 100px;
  position: fixed;
  right: 0;
  text-align: center;
  width: 100vw;
}

.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

.recipe-card {
  display: flex;
  flex-direction: row;
  font-size: 12px;
}

.recipe-card img {
  height: 20px;
  width: 20px;
}

.done-recipe img {
  height: 20px;
  width: 20px;
}

.popup {
  bottom: 50%;
  position: fixed;
  right: 50%;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

/* classe para img recipes.js */
.recipes-imgs {
  height: 10px;
  width: 10px;
}

.divContainer {
  background-color: gray;
  height: 860px;
  width: 340px;
}

.btnCategory {
  align-content: flex-end;
  align-items: flex-end;
  background-color: rgb(211, 221, 250);
  display: flex;
  height: 200px;
  width: 339px;
}

.imgContainer {
  background-color: rgb(250, 158, 158);
  height: 658px;
  width: 339px;
}

/* CSS para RecipeDetails */
.recipe-details {
  height: 640px;
  width: 360px;
}

.recipe-detail-card {
  border: gray 2px solid;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  width: 220px;
}

.recipe-detail-img {
  max-height: 98%;
  max-width: 98%;
}

/* CSS para Meals e DrinksRecomenadtions */
.recomendation-container {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  white-space: nowrap;
  width: auto;
}

.recomendation-card {
  border: gray 1px solid;
  display: flex;
  flex-direction: column;
  height: 200px;
  margin: auto;
  margin-bottom: 10px;
  margin-right: 3px;

  /* max-width: fit-content; */
  padding: 10px;
  width: 178px;
}

.recomendation-img {
  max-height: 98%;
  max-width: 98%;
}
